html
{
    font-size: 20px;
}

#container
{
    font-size: 30px;
}

#container > div 
{
    background-color: rgba(0, 255, 255, 0.6);
    margin-bottom: 15px;
}

#pixele
{
    width: 400px;
    
}

#em
{
    width: 20em;
/*
    EM
Wartość 1go em jest obliczana przez przeglądarkę internetową na podstawie wartości właściwości font-size elementu rodzica
*/
}

#ex
{
    width: 20ex;
    
/*
        EX
    Wartość 1go ex jest obliczana przez przeglądarkę internetową na podstawie wysokości małych liter (liter bez wydłużeń czyli ą, ć, i, z itp.) danej czcionki elementu rodzica, przeważnie jest to wartość w granicy 51% ~ 52% całej wartości wielkości czcionki
*/
}

#rem
{
    width: 20rem;
    
/*
    REM
Jest ona zdefiniowana jako wielkość tzw. bazowej czcionki dokumentu (stąd nazwa, bazowy em od angielskiego root em).
Wartość 1go rem jest obliczana przez przeglądarkę internetową na podstawie wartości właściwości font-size elementu HTML, który jest najwyżej w hierarchii dokumentu HTML, czyli tym elementem, jest element html.
*/
    
}

#procenty
{
    width: 50%;
    font-size: 50%;
}

/*
Viewport units
Są to jednostki stosunkowo nowe. Pozwalają one zapisać reguły zależnie od wielkości
okna użytkownika.
Do tych jednostek należą:
vw - viewport width
vh - viewport height
vmin - viewport minimum
vmax - viewport maximum
*/



#vw
{
    width: 60vw;
    
/*
    VW
Viewport width - 1n vw jest równy 1% wartości szerokości przestrzeni w jakiej została wyświetlona nasza strona internetowa (przeważnie przestrzeni przeglądarki internetowej).
Na przykład jeżeli szerokość przeglądarki jest równa 1024px to:
1vw = 1% * 1024px = 10.24px
8vw = 8% * 1024px = 81.92px
*/
    
}


#vh
{
    width: 60vh;
    
    
/*
    VH
Viewport height- 1n vh jest równy 1% wartości wysokości przestrzeni w jakiej została wyświetlona nasza strona internetowa (przeważnie przestrzeni przeglądarki internetowej).
Na przykład jeżeli wysokość przeglądarki jest równa 768px to:
1vh = 1% * 768px = 7.68px
8vh = 8% * 768px = 61.44px
*/
}

#vmin
{
    width: 60vmin;
   
/*
    VMIN
Viewport minimum - 1n vmin jest równy 1vw lub 1vh, w zależności która wartość jest aktualnie mniejsza.
Na przykład jeżeli 1vw jest równe 10.24px oraz 1vh jest równe 7.68px to:
1vmin = 1 * min(7.68px, 10.24px) = 7.68px
8vmin = 8 * min(7.68px, 10.24px) = 61.44px
*/
}

#vmax
{
    width: 60vmax;
    
    
/*
    VMAX
Viewport maximum - 1n vmax jest równy 1vw lub 1vh, w zależności która wartość jest aktualnie większa.
Na przykład jeżeli 1vw jest równe 10.24px oraz 1vh jest równe 7.68px to:
1vmin = 1 * max(7.68px, 10.24px) = 10.24px
8vmin = 8 * max(7.68px, 10.24px) = 81.92px
*/
}
